.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    flex-direction: column;
    align-items: center;

    app-heading {
        margin-bottom: 20px;
    }

    .form-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        max-width: 50%;
        width: 100%;
        flex-direction: column;
        align-content: center;

        @media only screen and (max-width: 600px) {
            max-width: 100%;
        }

        @media only screen and (min-width: 600px) and (max-width: 800px) {
            max-width: 100%;
        }


        .name-email-block {
            display: flex;
            max-width: 100%;
            justify-content: space-between;

            @media only screen and (max-width: 600px) {
                flex-direction: column;
                max-width: 100%;
            }

            .input-error-block {
                display: flex;
                flex-direction: column;
                width: 45%;

                @media only screen and (max-width: 600px) {
                    flex-direction: column;
                    width: 100%;
                }
            }
        }

        .input-error-block {
            display: flex;
            flex-direction: column;
            width: 100%;

            .hasError {
                border: 1px solid red;
            }

            .error {
                margin-left: 10px;
                color: red;
                font-size: 11px;
            }
        }
    }

    .input-field {
        border: 1px solid silver;
        background: transparent;
        border-radius: .25rem;
        padding: .75rem 1rem;
        margin: 10px;
        color: silver;
        width: 100%;

        &.messageTextarea {
            resize: vertical;
        }

        &[type="submit"] {
            background: transparent;
            color: silver;
            border: 1px solid silver;
            align-self: center;
            max-width: 20%;
            padding: 10px;
            cursor: pointer;
        }
    }
}