<div class="container">

    <app-heading heading="Contact ME"></app-heading>
    <form class="form-container">
        <div class="name-email-block">
            <input class="input-field" type="text" placeholder="Name">

            <input class="input-field" type="email" placeholder="Email Address">
        </div>
        <input class="input-field" type="text" placeholder="Subject">
        <textarea class="input-field" type="text" placeholder="message"></textarea>
        <input class="input-field" type="submit" value="Submit">
    </form>
</div>