<footer>
    <div class="footer_container">
        <div class="brand">
            <p>Kartik Chawla</p>
        </div>
        <div class="social_media">
            <a href="https://github.com/kartikchawla22/" target="_blank">
                <fa-icon [icon]="faGithub"></fa-icon>
            </a>
            <a href="https://www.linkedin.com/in/kartik-chawla-b51ba5118/" target="_blank">
                <fa-icon [icon]="faLinkedin"></fa-icon>
            </a>
            <a href="./assets/documents/resume.pdf" target="_blank" download>
                <fa-icon [icon]="faLaptop"></fa-icon>
            </a>
        </div>
        <p>Kartik Chawla © 2022 All Rights Reserved.</p>
    </div>
</footer>