<div class="container">
  <div class="felx-content">
    <div class="main-content">
      <app-heading heading="Technical Skills"></app-heading>
      <div class="skills-container">
        <app-tag-canvas></app-tag-canvas>
        <div class="skills">
          <div class="skill-content">
            <h3 class="skill-title">JavaScript</h3>
            <div class="progress-bar-container">
              <div class="progress">
                <div class="javascript progress-bar"></div>
              </div>
            </div>
          </div>
          <div class="skill-content">
            <h3 class="skill-title">Angular</h3>
            <div class="progress-bar-container">
              <div class="progress">
                <div class="angular progress-bar"></div>
              </div>
            </div>
          </div>
          <div class="skill-content">
            <h3 class="skill-title">Node.JS</h3>
            <div class="progress-bar-container">
              <div class="progress">
                <div class="nodejs progress-bar"></div>
              </div>
            </div>
          </div>
          <div class="skill-content">
            <h3 class="skill-title">Mongo</h3>
            <div class="progress-bar-container">
              <div class="progress">
                <div class="mongo progress-bar"></div>
              </div>
            </div>
          </div>
          <div class="skill-content">
            <h3 class="skill-title">React.js</h3>
            <div class="progress-bar-container">
              <div class="progress">
                <div class="reactjs progress-bar"></div>
              </div>
            </div>
          </div>
          <div class="skill-content">
            <h3 class="skill-title">React-Native</h3>
            <div class="progress-bar-container">
              <div class="progress">
                <div class="react-native progress-bar"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
