<div class="container" (mousemove)="onMouseMove($event)">
    <div class="felx-content">
        <div class="main-content">
            <app-home></app-home>
            <div class="contact-me-container">
                <a>Let's Work on Something new</a>
            </div>
        </div>
        <div class="main-content">
            <app-tag-canvas></app-tag-canvas>
        </div>
    </div>
</div>
<div class="cursor-container">
    <div class="custom-cursor"></div>
    <div class="custom-cursor"></div>
    <div class="custom-cursor"></div>
    <div class="custom-cursor"></div>
    <div class="custom-cursor"></div>
    <div class="custom-cursor"></div>
</div>