.container {
    height: 100%;
    width: 100%;
}

.cursor-container {
    display: none;

    @media only screen and (min-width: 800px) {
        display: block;
    }
}

div.custom-cursor {
    width: 20px;
    height: 20px;
    background: rgb(231, 21, 21);
    border-radius: 50%;
    position: absolute;
    pointer-events: none;
    box-shadow: 0 0 7px rgb(231, 21, 21),
        0 0 10px rgb(209, 32, 13),
        0 0 21px rgba(206, 9, 9, 0.823),
        0 0 42px rgb(231, 63, 21),
        0 0 82px rgb(119, 13, 13),
        0 0 92px rgb(231, 21, 21),
        0 0 102px rgb(231, 21, 21),
        0 0 151px rgb(231, 21, 21);
}

div.custom-cursor:nth-of-type(2) {
    transform: scale(0.8);
}

div.custom-cursor:nth-of-type(3) {
    transform: scale(0.6);
}

div.custom-cursor:nth-of-type(4) {
    transform: scale(0.4);
}

div.custom-cursor:nth-of-type(5) {
    transform: scale(0.2);
}

div.custom-cursor:nth-of-type(6) {
    transform: scale(0.1);
}

.felx-content {
    font-size: 2rem;
    color: lightgray;
    display: inline-flex;
    justify-content: space-between;
    cursor: none;
    width: 100%;
    flex-direction: row;

    @media only screen and (max-width: 600px) {
        flex-direction: column;
    }

    .main-content {
        display: flex;
        justify-content: center;
        align-content: center;
        max-width: 100%;
        height: 100%;
        flex-direction: column;

        @media only screen and (max-width: 600px) {
            max-height: 50%;
            max-width: 100%;
        }

        .contact-me-container {
            width: 100%;

            a {
                text-decoration: underline;
                color: goldenrod;
            }
        }
    }
}