<div class="container">
    <div class="heading">
        <app-heading heading="my portfolio"></app-heading>
    </div>
    <div>

    </div>

    <!-- <div class="gallery">
        <div class="gallery-item" *ngFor="let project of projects">
            <img class="gallery-image" [src]="project.thumbnail" [alt]="project.name"
                [routerLink]="['/projects', project.link]" routerLinkActive="active">
        </div>
    </div> -->
    <div class="content">
        <div class="main-content">
            <div class="roles">
                <div class="block">
                    <h3>Senior Front-End Developer and Team Lead</h3>
                    <ul>
                        <li>
                            Successfully developed and delivered a Knowledge Base Web Application for one of the largest
                            analytics companies.
                        </li>
                        <li>
                            Utilized PowerBI to extract data from manufacturers and distributors to generate reports
                            using Node.js and AWS Lambda.
                        </li>
                        <li>
                            Demonstrated expertise in front-end development by creating a responsive and user-friendly
                            UI using Angular and NGRX.
                        </li>
                        <li>
                            Developed and maintained the CDX (Central Data Exchange) Component Library, based on Angular
                            Material, for use across multiple products within the organization.
                        </li>
                        <li>
                            Effectively managed a team of five front-end developers, ensuring the timely delivery of
                            high-quality software products.
                        </li>
                    </ul>
                </div>

                <div class="block">
                    <h3>Knowledge Base Web Application Developer</h3>
                    <ul>
                        <li>
                            Played a key role in developing and delivering a Knowledge Base Web Application for a large
                            analytics company.
                        </li>
                        <li>
                            Collaborated with stakeholders and cross-functional teams to gather requirements, analyze
                            data, and implement software solutions.
                        </li>
                        <li>
                            Used PowerBI to extract data from manufacturers and distributors to generate reports and
                            make data-driven decisions.
                        </li>
                        <li>
                            Demonstrated expertise in front-end development using Angular and NGRX to create a
                            responsive and user-friendly UI.
                        </li>
                        <li>
                            Worked closely with the back-end team to ensure seamless integration and optimal
                            performance.
                        </li>
                    </ul>
                </div>

                <div class="block">
                    <h3>CDX (Central Data Exchange) Component Library Developer</h3>
                    <ul>
                        <li>
                            Developed and maintained the CDX Component Library, based on Angular Material, for use
                            across multiple products within the organization.
                        </li>
                        <li>
                            Demonstrated expertise in front-end development by creating reusable, modular, and scalable
                            UI components.
                        </li>
                        <li>
                            Collaborated with stakeholders and cross-functional teams to gather requirements, design,
                            and implement UI components that meet business needs.
                        </li>
                        <li>
                            Conducted code reviews, implemented best practices, and mentored junior developers to ensure
                            high-quality code and adherence to coding standards.
                        </li>
                    </ul>
                </div>

                <div class="block">
                    <h3>Software Developer (E-Commerce Application)</h3>
                    <ul>
                        <li>
                            Collaborated with industry-leading global food chains to design and develop their E-Commerce
                            application using Angular.
                        </li>
                        <li>
                            Demonstrated expertise in front-end web development, including Angular, JavaScript, HTML,
                            and
                            CSS.
                        </li>
                        <li>
                            Designed and implemented a scalable, robust, and user-friendly E-Commerce platform that
                            meets
                            client requirements and enhances customer experience.
                        </li>
                        <li>
                            Worked with cross-functional teams to ensure the timely delivery of high-quality software
                            products.
                        </li>
                    </ul>
                </div>
                <div class="block">
                    <h3>Software Developer (Insurance Websites)</h3>
                    <ul>
                        <li>
                            Contributed to the success of a leading insurance company in Dublin, Ireland, by creating
                            high-performing and secure Home, Motor, and Travel insurance websites using the latest
                            Angular
                            version.
                        </li>
                        <li>
                            Implemented responsive design, user-friendly interfaces, and dynamic features to improve the
                            user experience.
                        </li>
                        <li>
                            Collaborated with stakeholders, product owners, and business analysts to gather and analyze
                            requirements and implement software solutions that meet business needs.
                        </li>
                        <li>
                            Managed multiple projects simultaneously in different time zones (UK and US) as a single
                            resource, delivering high-quality software on time and within budget.
                        </li>
                    </ul>
                </div>
                <div class="block">
                    <h3>SCRUM Master</h3>
                    <ul>
                        <li>
                            Served as SCRUM Master for various projects with variable team sizes ranging from 5 to 28.
                        </li>
                        <li>
                            Managed Agile software development processes, including sprint planning, backlog grooming,
                            daily
                            stand-up meetings, sprint reviews, and retrospectives.
                        </li>
                        <li>
                            Facilitated communication, collaboration, and problem-solving among cross-functional teams,
                            ensuring the timely delivery of high-quality software products.
                        </li>
                    </ul>
                </div>
                <div class="block">

                    <h3>Software Developer (Social Networking Web App)</h3>
                    <ul>
                        <li>
                            Designed and developed a social networking web app for universities using React.js.
                        </li>
                        <li>
                            Collaborated with stakeholders, end-users, and cross-functional teams to gather
                            requirements
                            and
                            implement software solutions that meet business needs and user expectations.
                        </li>
                        <li>
                            Demonstrated expertise in front-end web development, including React.js, JavaScript,
                            HTML,
                            and
                            CSS.
                        </li>
                        <li>
                            Implemented responsive design, user-friendly interfaces, and dynamic features to improve
                            the
                            user experience.
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>