.container {
    .heading {
        text-align: center;
    }

    .gallery {
        display: flex;
        flex-wrap: wrap;
        margin: -1rem -1rem;
        justify-content: space-between;

        @media only screen and (max-width: 800px) {
            flex-direction: column;
            align-content: center;
        }
    }

    .gallery-item {
        flex: 1 0 20%;
        margin: 1rem;
        box-shadow: 0.3rem 0.4rem 0.4rem rgba(0, 0, 0, 0.4);
        overflow: hidden;
        cursor: pointer;
        padding: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .gallery-image {
        max-width: 250px;
        max-height: 250px;
        transition: transform 400ms ease-out;
    }

    .gallery-image:hover {
        transform: scale(1.15);
    }
}