// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$kartik-portfolio-primary: mat.define-palette(mat.$indigo-palette);
$kartik-portfolio-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$kartik-portfolio-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$kartik-portfolio-theme: mat.define-light-theme((color: (primary: $kartik-portfolio-primary,
                accent: $kartik-portfolio-accent,
                warn: $kartik-portfolio-warn,
            )));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($kartik-portfolio-theme);

/* You can add global styles to this file, and also import other style files */
body {
    margin: 0;
}

h1.title {
    letter-spacing: 10px;
    text-transform: uppercase;
    color: whitesmoke;

}

.image-grid {
    /* Arrange children using flexbox */
    display: flex;
    /* ALlow images to display on multiple lines rather than a single line */
    flex-wrap: wrap;
    /* Container should take up only 90% of the browser, leave 5% space on each side */
    width: 90%;
    /* Center container */
    margin: 0 auto;
}

.grid-image {
    /* our width setting for mobile, one image per line */
    flex-basis: 100%;
    /* provide some space between our images */
    padding: 10px;
    /* ensure padding doesn't cause images to wrap, it should be within the width rather than in addition */
    box-sizing: border-box;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    img {
        max-width: 240px;
        transition: transform .2s;

        &:hover {
            transform: scale(1.5);
        }
    }
}

/* increase images per line as browser gets larger using media queries
         this first query makes two images per line at 640px width */
@media only screen and (min-width: 640px) {
    .grid-image {
        flex-basis: 50%;
    }
}

/* three images per line when browser width exceeds 960px */
@media only screen and (min-width: 960px) {
    .grid-image {
        flex-basis: 33.333%;
    }
}

/* four images per line when browser width exceeds 1280px */
@media only screen and (min-width: 1280px) {
    .grid-image {
        flex-basis: 25%;
    }
}

/* five images per line when browser width exceeds 1600px */
@media only screen and (min-width: 1600px) {
    .grid-image {
        flex-basis: 20%;
    }
}

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html,
body {
    height: 100%;
    background: black;
}