<div class="heading">
    <app-heading heading="Me, Myself and I"></app-heading>
</div>
<div class="outer-container mat-typography">
    <div class="container">
        <div class="subheading">
            <h1 class="mat-headline">
                Meticulous Software Engineer with 5 years of experience designing, testing and developing software
                solutions. In
                depth understanding of web technologies with focus on delivering innovative business solutions. Excels
                in
                fast-paced, high-energy and deadline-driven environment with willingness to take on additional tasks.
            </h1>
        </div>
        <div class="skills">
            <div class="skill-content">
                <h3 class="skill-title">JavaScript</h3>
                <div class="progress-bar-container">
                    <div class="progress">
                        <div class="javascript progress-bar">
                        </div>
                    </div>
                </div>
            </div>
            <div class="skill-content">
                <h3 class="skill-title">Angular</h3>
                <div class="progress-bar-container">
                    <div class="progress">
                        <div class="angular progress-bar">
                        </div>
                    </div>
                </div>
            </div>
            <div class="skill-content">
                <h3 class="skill-title">Node.JS</h3>
                <div class="progress-bar-container">
                    <div class="progress">
                        <div class="nodejs progress-bar">
                        </div>
                    </div>
                </div>
            </div>
            <div class="skill-content">
                <h3 class="skill-title">Mongo</h3>
                <div class="progress-bar-container">
                    <div class="progress">
                        <div class="mongo progress-bar">
                        </div>
                    </div>
                </div>
            </div>
            <div class="skill-content">
                <h3 class="skill-title">React.js</h3>
                <div class="progress-bar-container">
                    <div class="progress">
                        <div class="reactjs progress-bar">
                        </div>
                    </div>
                </div>
            </div>
            <div class="skill-content">
                <h3 class="skill-title">React-Native</h3>
                <div class="progress-bar-container">
                    <div class="progress">
                        <div class="react-native progress-bar">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="history-container">
        <div class="heading center">
            <app-heading heading="Previous jobs"></app-heading>
        </div>
        <div class="companies">
            <div class="kellton">
                <h1 class="mat-headline">
                    MEAN Stack Developer
                </h1>
                <div class="mat-body-1">
                    Kellton Tech Solutions Ltd.
                </div>
                <div class="mat-body-1">
                    Feb 2017 - April 2021
                </div>
                <div class="mat-body-1">
                    Developed and Shipped many JavaScript based products.
                </div>
            </div>
            <div class="epam">
                <h1 class="mat-headline">
                    FrontEnd Developer
                </h1>
                <div class="mat-body-1">
                    EPAM Systems
                </div>
                <div class="mat-body-1">
                    April 2021 - April 2022
                </div>
                <div>
                    Developed CDX library for smooth integration among multiple products
                </div>
            </div>
        </div>
    </div>



    <div class="history-container">

        <div class="heading center">
            <app-heading heading="Education"></app-heading>
        </div>
        <div class="companies">
            <div class="mau">
                <h1 class="mat-headline">
                    B.Tech C.S.E.
                </h1>
                <div class="mat-body-1">
                    Maharaja Agrasen University
                </div>
                <div class="mat-body-1">
                    August 2013 - May 2017
                </div>
                <div class="mat-body-1">
                    Completed my Engineering Degree in Computer Science.
                </div>
            </div>
            <div class="georgian">
                <h1 class="mat-headline">
                    Mobile Applications Development
                </h1>
                <div class="mat-body-1">
                    Georgian College
                </div>
                <div class="mat-body-1">
                    May 2022 - persuing
                </div>
                <div>
                    Learning about mobile applications
                </div>
            </div>
        </div>
    </div>
</div>