<div class="heading center">
  <app-heading heading="About ME"></app-heading>
</div>
<div class="outer-container mat-typography">
  <div class="container">
    <div class="subheading">
      <h1 class="mat-headline">
        Highly analytical, efficient full-stack developer with experience in
        MEAN, MERN, UX/UI, AWS, GCP, Heroku and RESTful APIs. Excels at
        analyzing business requirements, creating technical solutions and
        collaborating with stakeholders while working within Agile, cross-
        functional teams. Committed to driving innovative improvements in
        software applications, Continuous Integration/Continuous Deployment
        (CI/CD) and company processes to optimize efficiency.
      </h1>
    </div>
  </div>

  <div class="history-container">
    <div class="heading center">
      <app-heading heading="Previous jobs"></app-heading>
    </div>
    <div class="companies">
      <div *ngFor="let job of jobs" class="company">
        <h1 class="mat-headline">
          {{ job.heading }}
        </h1>
        <div class="mat-body-1">
          {{ job.organisation }}
        </div>
        <div class="mat-body-1">
          {{ job.duration }}
        </div>
        <div class="roles">
          <ul>
            <li *ngFor="let role of job.rolesAndResponsibilities">
              {{ role }}
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <div class="history-container">
    <div class="heading center">
      <app-heading heading="Education"></app-heading>
    </div>
    <div class="companies">
      <div class="mau">
        <h1 class="mat-headline">B.Tech C.S.E.</h1>
        <div class="mat-body-1">Maharaja Agrasen University</div>
        <div class="mat-body-1">August 2013 - May 2017</div>
        <div class="mat-body-1">
          Completed my Engineering Degree in Computer Science.
        </div>
      </div>
      <div class="georgian">
        <h1 class="mat-headline">Mobile Applications Development</h1>
        <div class="mat-body-1">Georgian College</div>
        <div class="mat-body-1">May 2022 - persuing</div>
        <div>Learning about mobile applications</div>
      </div>
    </div>
  </div>
</div>
